<p>dashboard works!</p>
<!--
in questa lezione vedremo come fare una registrazione
1)come prima cosa andiamo a creare il nostro nuovo
componente di registrazione che chiameremo signup
2)adesso andiamo a creare il route per il nuovo componente
quindi andiamo nell app.routing =>
3)andiamo adesso ad inserire il form dentro al nuovo
componente
-->
<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="nome" formControlName="nome">
  </mat-form-field>
  <!-- -->
  <p *ngIf="!homeform.get('nome').valid && homeform.get('nome').touched">Inserisci un nome</p>
  <mat-form-field appearance="fill">
    <mat-label>Cognome</mat-label>
    <input matInput type="text" name="cognome" formControlName="cognome">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Colori</mat-label>
    <mat-select name="colore" formControlName="colore">
      <mat-option value="rosso">Rosso</mat-option>
      <mat-option value="blu">Blu</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">invia</button>
</form>

<button mat-raised-button color="primary" (click)="onDeletePersona()">Elimina utente</button>


<button mat-raised-button color="primary" (click)="onPatchPersona()">Modifica persona</button>