<!--
oggi andiamo a vedere il primo metodo di fata binding
lo string interpolation

per andare a prendere i dati dall array di oggetti che ho nel TS
bado semplicemente dentro le doppie {{}} a prendermi il dato secondo
le regole degli array ed oggetti di JS
-->


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{cane[0].nome.toUpperCase()}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{cane[0].razza}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>
    <!--questo e' uno string interpolation esempio-->
    <p>{{cane[0].descrizione}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn-card" mat-button>LIKE</button>
    <button class="btn-card" mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>