<!--
con questa direttiva possiamo andare a cambiare direttamente una classe
del nostro css ed assegnarla ad un determinato tag
facciamo un conditional rendering delle classi in base al prametro isOnline
la direttiva si chiama [ngClass]="{'la classe css':il dato del mio array ecc}"
-->

<ul>
  <li *ngFor="let persona of persone; index of i">

    <!--
    in questo modo inoltre possiamo mettere tutte le condizioni che vogliamo
    <div class="cerchio" [ngClass]="{'cerchioOnline':persona.isOnline,'cerchioOffline':!persona.isOnline}">i</div> -->
    <!-- oppure si puo anche scrivere cosi pero cosi possiamo mettere molte meno
    condizioni   -->
    <div class="cerchio" [ngClass]="persona.isOnline?'cerchioOnline':'cerchioOffline'">i</div>
    <p>{{persona.nome}} {{persona.cognome}}</p>
  </li>
</ul>