<!--
le direttive sono delle classi e servono per essere
messe sugli elementi HTML per andare a cambiare il
comportamento agli elementi

si dividono in 3 categorie
-buildIn(ngClass, ngStyle, ngModel) modificano un
comportamento

-attribute (modificano comportamento o apparenze
di un elemento)

-structural(*ngIf, *ngFor cambiano il DOM aggiungendo
o rimuovendo elementi)


-->
<button mat-raised-button (click)="onClick($event)" color="primary">Primary</button>
<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field>


<p>{{title}}</p>